.nav {
    width: 5%;
    height: 100vh;
    transition: 200ms ease-in-out;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .nav.active {
    width: 15%;
  }
  
  .nav.non {
    display: none;
  }
  
  .nav .navBody {
    padding: 20px;
    height: 100%;
  }
  
  .nav .navBody.active {
    display: flex;
    flex-direction: column;
  }
  
  .nav.active .burgerAct {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    width: 100%;
  }
  
  .nav .burgerAct {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    width: 100%;
    align-self: center;
    padding: 20px;
  }
  
  .nav .burgerAct .line1,
  .nav .burgerAct .line2,
  .nav .burgerAct .line3 {
    width: 30px;
    height: 5px;
    border-radius: 5px;
    background-color: #27dec0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    transition: 200ms ease-in-out;
    margin-right: 1em;
  }
  
  .nav .navlinks {
    width: 100%;
    height: 80%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 50px;
    /* border-radius: 20px; */
  }
  
  .nav .navlinks .navlink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #686969;
    font-size: 1.3rem;
  }
  
  .nav .navlinks .navlink.active {
    color: #27dec0;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
    border-right: 3px solid #27dec0;
  }
  
  .nav .navlinks .navlink p {
    padding-left: 20px;
  }