.container {
  display: "flex";
  background: "#F8F9FE";
  justify-content: "center";
  align-items: "center";
  margin-left: 8%;  
}

.custom-container {
  margin-top: 10%;
  border: 0.5px solid black;
  border-radius: 20px;
  width: 80%;
  height: 850px;
  background-color: white;
  
}
.flex-row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-column1 {
  display: flex;
  flex-direction: column;
  width: 200px;
}
.shipments-container {
  color: black;
  font-weight: 500;
  margin-left: 30%;
  margin-top: 30%;
}

.shipments-heading {
  font-family: "Poppins" sans-serif;
}
.active-shipments {
  font-size: 11px;
  color: #16C098;
  margin-left: 30%;
  width: 90px;
}
.shipments-heading {
  font-family: "Poppins" sans-serif;
}
/* .vendor-container {
  display: flex;
  flex-direction: row;
  margin-left: 60%;
} */

.vendor-label {
  margin-top: 10%;
  color: black;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  
  justify-content: space-between;
  /
}

.vendor-select {
  font-family: "Poppins" sans-serif;
}
#vendorSelect {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  /* width: 45%; */
  height: 50%;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  color: #333;
  margin-top: 55px;
  margin-right: 50px;
}

.custom-button {
  background-color: #34CE6C;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 40px;
}

.custom-button:disabled {
  background-color: #97e3be;
  cursor: not-allowed;
}
.ag-grid-container {
  height: 70%;
  margin-top: 2%;
  padding-left: 2%;
  padding-right: 3%;
}
/* Modal Styles */
.custom-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  background-color: rgba(255, 255, 255, 0.85); 
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px); 
  -webkit-backdrop-filter: blur(8px); 
}

.modal-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  width: 80%;
  max-width: 400px;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: gray;
}

/* Input and Button Styles */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 30px;
}

button {
  background-color: #9583FF;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}